<mat-card>
  <mat-card-title>Forecast</mat-card-title>
  <mat-card-content>Todo items assigned a due date are here</mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip color="accent">Overdue (3)</mat-chip>
      <mat-chip color="accent">Today (2/22) (5)</mat-chip>
      <mat-chip color="accent">Tomorrow (2/23) (1)</mat-chip>
      <mat-chip color="accent">2/24 (3)</mat-chip>
      <mat-chip color="accent">2/25 (0)</mat-chip>
      <mat-chip color="accent">2/26 (7)</mat-chip>
      <mat-chip color="accent">2/28 (0)</mat-chip>
      <mat-chip color="accent">Future (27)</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
